.test {
  writing-mode: vertical-rl;
}

p {
  position: relative;
  line-height: 1.5em;
  /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
  height: 3em;
  overflow: hidden;
  word-break: break-all;
}
p:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  background-color: #fff;
}

@mixin multi($lines: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin textOver() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes explode {  
  0% {  
    transform: scale(1);  
  }  
  100% {  
    transform: scale(5);  
  }  
}  
  
.explosion {  
  width: 100px;
  height: 100px;
  background-color: aqua;
  animation: explode 1s infinite;  
}

div{
  margin: 50px;
  width: 100px;
  height: 100px;
  background: red;
}
/* 半圆 */
.half-circle{
  height: 50px;
  border-radius: 50px 50px 0 0;
}
/* 扇形 */
.sector{
  border-radius: 100px 0 0;
}
/* 三角 */
.triangle{
  width: 0px;
  height: 0px;
  background: none;
  border: 50px solid red;
  border-color: red transparent transparent transparent;
}
/* 梯形 */
.ladder{
  width: 50px;
  height: 0px;
  background: none;
  border: 50px solid red;
  border-color: red transparent transparent transparent;
}