.test {
  writing-mode: vertical-rl;
}

p {
  position: relative;
  line-height: 1.5em;
  /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
  height: 3em;
  overflow: hidden;
  word-break: break-all;
}
p:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  background-color: #fff;
}

@mixin multi($lines: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin textOver() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
